<div class="background-sombre section" id="realisations">
  <%# Services proposées %>
  <div class="container" id="service">
    <h2 class="mb-5">Mes services</h2>
    <div class="container-skill">
    <p class="text-center mb-5">Je vous aiderai pour la mise en place de votre MVP sur Rails, ou pour améliorer votre produit existant, développer des nouvelles fonctionnalités, intégrations. Voici les services que je propose : </p>
      <div class="blocs-service">
        <div class="bloc-service">
          <img src=<%= image_path("frontend.svg")%> alt="frontend" class="skill-desc-photo">
          <div class="bloc-service-title">
            <h3 class="titleblack gradient-text py-2">Front-end</h3>
          </div>
          <div class="skills-wrapper">
            <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Création de site vitrine pour votre entreprise</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Mise en place du design front-end à partir de vos maquettes</li>
            </ul>
          </div>
        </div>
        <div class="bloc-service">
        <img src=<%= image_path("backend.svg")%> alt="frontend" class="skill-desc-photo">
          <div class="bloc-service-title">
            <h3 class="title-black gradient-text py-2">Back-end</h3>
          </div>
          <div class="skills-wrapper">
            <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Développement de nouvelles fonctionnalités sur votre application RoR</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Intégration de services tiers à votre application RoR</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Création de MVP pour votre entreprise</li>
            </ul>
          </div>
        </div>
        <div class="bloc-service">
          <div class="bloc-service-title">
            <h3 class="titleblack gradient-text py-2">Production</h3>
          </div>
          <div class="skills-wrapper">
             <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Mise en production de mon travail </li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Résolution des bugs sur Heroku </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-logo section" id="banner-company">
  <h2 class="white pb-5">Ils me font confiance</h2>
  <div class="slider">
    <div class="slide-track">
      <div class="slide"><img src=<%= image_path("logo-mediapp.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-cartelis.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-goodwill.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-bien-fonde.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mister-auto.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mediapp.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-cartelis.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-goodwill.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-bien-fonde.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mister-auto.png")%> class="logo-company" /></div>
    </div>
  </div>
</div>
