<!-- 111 Navbar -->
<div id="navbar">
  <img src=<%= image_path("logo.png")%> alt="photo" class="banner-logo">
  <div class="nav-categories">
    <a href="#apropos" class="nav-category">A propos de moi</a>
    <a href="#skills" class="nav-category">Mes compétences</a>
    <a href="#realisations" class="nav-category">Mes réalisations</a>
    <a href="#contact" class="nav-category">Contactez-moi !</a>
  </div>
</div>
<!-- 222 Banner -->
<div class="banner">
  <div class="banner-text">
    <h1>Développeur Web Fullstack</h1>
    <h2>Freelance disponible pour vos missions Ruby On Rails</h2>
    <a href="#contact" class = "primary-button">Me contacter</a>
  </div>
  <img src=<%= image_path("tristan-pro.png")%> alt="photo" class="banner-photo">
</div>
<!-- 333 A propos de moi -->
<div class="container" id="apropos">
  <div class="bloc-apropos">
    <img src= <%= image_path("lewagon.jpg")%> alt="photo-wagon" class="photo-a-propos">
    <div class="desc-a-propos">
      <h2>A propos de moi</h2>
      <p>Après le bac je fais des études d'ingénieur où j'apprends les maths, les statistiques, la chimie et la biologie. Après une expérience en cabinet de conseil digital & growth, je me lance en
      freelance sur ces mêmes sujets pendant 1 an (SEO, prospection B2B & marketing Automation). J'apprends à livrer mes clients, à organiser mon travail (Merci Notion !) sur des missions transverses. Je touche rapidement au côté technique
      avec l'utilisation de gestionnaires d'APIs, de page web (HTML/CSS), de JavaScript (Google Script).
      En 2021, je saute le pas et décide d'aller au "Wagon Paris", meilleur bootcamp de code au monde, pour enrichir mes compétences techniques
      dans le développement web d'applications. Je touche à l'algorithmie, aux bases de données, aux APIs etc..</p>
    </div>
  </div>
</div>
  <!-- 444 technologies utilisées -->
<div class="container" id="skills">
  <h2 class="mb-5">Mes compétences en développement Web</h2>
  <div class="container-skill">
    <div class="blocs-service">
      <div class="bloc-service">
        <img src=<%= image_path("frontend.svg")%> alt="frontend" class="skill-desc-photo">
        <div class="bloc-service-title">
          <h3 class="titleblack">Front-end</h3>
        </div>
        <div class="skills-wrapper">
          <div class="skill pulse">
            <img src=<%= image_path("html-css.png")%> alt="" class="skill-photo">
            <span class="skill-desc">HTML / CSS</span>
          </div>
          <div class="skill pulse">
            <img src=<%= image_path("javascript.png")%> alt="" class="skill-photo">
            <span class="skill-desc">Javascript</span>
          </div>
        </div>
      </div>
      <div class="bloc-service">
      <img src=<%= image_path("backend.svg")%> alt="frontend" class="skill-desc-photo">
        <div class="bloc-service-title">
          <h3 class="title-black">Back-end</h3>
        </div>
        <div class="skills-wrapper">
          <div class="skill pulse">
            <img src=<%= image_path("rails.png")%> alt="" class="skill-photo">
            <span class="skill-desc">Ruby (Rails)</span>
          </div>
          <div class="skill pulse">
            <img src=<%= image_path("api.png")%> alt="" class="skill-photo">
            <span class="skill-desc">API</span>
          </div>
          <div class="skill pulse">
            <img src=<%= image_path("postgre.png")%> alt="" class="skill-photo">
            <span class="skill-desc">PostgreSQL</span>
          </div>
        </div>
      </div>
      <div class="bloc-service">
        <img src=<%= image_path("deploy.svg")%> alt="frontend" class="skill-desc-photo">
        <div class="bloc-service-title">
          <h3 class="titleblack">Production</h3>
        </div>
        <div class="skills-wrapper">
          <div class="skill pulse">
            <img src=<%= image_path("heroku.png")%> alt="" class="skill-photo">
            <span class="skill-desc">Heroku</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%# Réalisations itérations %>

<div class="background-sombre" id="realisations">
  <div class="container">
    <h2 class="white mb-5">Mes réalisations</h2>
    <div class="real-contain" data-controller="tabdisplay">
      <ul class="nav nav-tabs project-tab" style="border-right:solid" id="tabs">
        <li class="project-tab-list"><a href="#tab1" class="tab-link" data-toggle="tab" data-action="click->tabdisplay#change" >Projets personnels</a></li>
        <li class="project-tab-list"><a href="#tab2" class="tab-link" data-toggle="tab" data-action="click->tabdisplay#change" >Freelance Growth / Technique</a></li>
        <li class="project-tab-list"><a href="#tab3" class="tab-link" data-toggle="tab" data-action="click->tabdisplay#change" >Freelance Code </a></li>
      </ul>
      <div class="tab-content">
        <div class="cards-real">
          <div class="tab-pane active show cards-real tab1" id="tab1" data-tabdisplay-target="tabproject">
            <% @personalprojects.each do |project| %>
              <%= render 'pages/projectcardfree', project: project %>
              <%= render 'projects/show', project: project%>
            <% end %>
          </div>
          <div class="tab-pane d-none cards-real tab2" id="tab2" data-tabdisplay-target="tabproject">
            <% @growthprojects.each do |project| %>
              <%= render 'pages/projectcardfree', project: project%>
            <% end %>
          </div>
          <div class="tab-pane d-none cards-real tab3" id="tab3" data-tabdisplay-target="tabproject">
            <% @freelancecodeprojects.each do |project| %>
              <%= render 'pages/projectcardfree', project: project%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <h2 class="white mb-5">Ils me font confiance</h2>
  <div class="company-logo-div">
    <img src=<%= image_path("logo-mister-auto.png")%> class="logo-company" />
    <img src=<%= image_path("logo-mediapp.png")%> class="logo-company" />
    <img src=<%= image_path("logo-cartelis.png")%> class="logo-company" />
    <img src=<%= image_path("logo-goodwill.png")%> class="logo-company" />
    <img src=<%= image_path("logo-bien-fonde.png")%> class="logo-company" />
  </div>
  <div class="avis-clients w-30">
  <p class="white mx-5">Tristan a réalisé un travail de précision et plus poussé que ce qui était demandé.
Il a su opérer un suivi au quotidien et donner ses inputs lorsque cela lui était demandé.
Je le recommande vivement pour améliorer ses campagnes de marketing digital et outils de pilotage.</p>
  </div>
</div>

<!-- Realisations -->

<!-- Avis clients  -->

<!-- Mes services -->

<div class="container" id="contact">
  <h2>Contactez moi</h2>
  <div class="form-container">
    <div class="form-contact">
      <%= simple_form_for(@contact) do |f| %>
        <div class="form-check-inlin">
          <%= f.input :firstname, as: :string, class:"input-type" %>
          <%= f.input :name, as: :string, class:"input-type" %>
        </div>
        <div class="form-check-inlin">
          <%= f.input :email, as: :string, class:"input-type" %>
          <%= f.input :company, as: :string, class:"input-type" %>
        </div>
        <%= f.input :message, as: :text, class:"input-type" %>
        <%= f.button :submit, class: "primary-button", value: "Valider ma demande"%>
      <% end %>
    </div>
    <div class="form-desc-container">
    <img src=<%= image_path("frontend.svg")%> alt="frontend" class="skill-desc-photo">
    </div>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Git-TM"><i class="fab fa-github"></i></a>
    <a href="https://www.malt.fr/profile/tristanmonteiro"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/tristan-monteiro/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Tristan Monteiro, 2021 Paris</p>
  </div>
</div>
