<!-- 111 Navbar -->
<div id="navbar">
  <img src=<%= image_path("logo.png")%> alt="photo" class="banner-logo">
  <div class="nav-categories">
    <a href="#apropos" class="nav-category">A propos de moi</a>
    <a href="#skills" class="nav-category">Mes compétences</a>
    <a href="#realisations" class="nav-category">Mes réalisations</a>
    <a href="#contact" class="nav-category">Contactez-moi !</a>
  </div>
</div>

<!-- 222 Banner -->
<%= render "banner" %>

<!-- 333 A propos de moi -->
<div class="container section" id="apropos">
  <div class="bloc-apropos">
    <img src= <%= image_path("lewagon.png")%> alt="photo-wagon" class="photo-a-propos">
    <div class="desc-a-propos">
      <h2><span class="gradient-text">01. </span>A propos de moi</h2>
      <p>Après le bac je fais des études d'ingénieur et une expérience en cabinet de conseil digital & growth, je me lance en
      freelance sur ces mêmes sujets pendant 1 an (SEO, prospection B2B & marketing Automation). J'apprends sur des missions transverses en touchant rapidement au côté technique
      avec l'utilisation de gestionnaires d'APIs, de page web (HTML/CSS), de JavaScript (Google Script).
      En 2021, je saute le pas et décide d'aller au "Wagon Paris" pour enrichir mes compétences techniques
      dans le développement web d'applications. Depuis je développe des applications en Ruby on rails, et JavaScript.</p>
    </div>
  </div>
</div>

<%# Mes technologies %>
<div class="section" id="technologie-div">
    <h2 class="pb-4"><span class="gradient-text">02. </span>Mes technologies</h2>
  <div class="technologie-div">
    <div class="technos-wrapper py-2">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" class="logo-tech skill"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain-wordmark.svg" class="logo-tech skill" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg" class="logo-tech skill" />
    </div>
  </div>
</div>


<div class="background-sombre section" id="realisations">
  <%# Services proposées %>
  <div class="container" id="service">
    <h2 class="mb-5">Mes services</h2>
    <div class="container-skill">
    <p class="text-center mb-5">Je vous aiderai pour la mise en place de votre MVP sur Rails, ou pour améliorer votre produit existant, développer des nouvelles fonctionnalités, intégrations. Voici les services que je propose : </p>
      <div class="blocs-service">
        <div class="bloc-service">
          <img src=<%= image_path("frontend.svg")%> alt="frontend" class="skill-desc-photo">
          <div class="bloc-service-title">
            <h3 class="titleblack gradient-text py-2">Front-end</h3>
          </div>
          <div class="skills-wrapper">
            <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Création de site vitrine pour votre entreprise</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Mise en place du design front-end à partir de vos maquettes</li>
            </ul>
          </div>
        </div>
        <div class="bloc-service">
        <img src=<%= image_path("backend.svg")%> alt="frontend" class="skill-desc-photo">
          <div class="bloc-service-title">
            <h3 class="title-black gradient-text py-2">Back-end</h3>
          </div>
          <div class="skills-wrapper">
            <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Développement de nouvelles fonctionnalités sur votre application RoR</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Intégration de services tiers à votre application RoR</li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Création de MVP pour votre entreprise</li>
            </ul>
          </div>
        </div>
        <div class="bloc-service">
          <img src=<%= image_path("deploy.svg")%> alt="frontend" class="skill-desc-photo">
          <div class="bloc-service-title">
            <h3 class="titleblack gradient-text py-2">Production</h3>
          </div>
          <div class="skills-wrapper">
             <ul class="fa-ul">
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Mise en production de mon travail </li>
              <li class="py-3"><span class="fa-li"><i class="fas fa-check green"></i></span>
              Résolution des bugs sur Heroku </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-logo section" id="banner-company">
  <h2 class="white pb-5">Ils me font confiance</h2>
  <div class="slider">
    <div class="slide-track">
      <div class="slide"><img src=<%= image_path("logo-mediapp.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-cartelis.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-goodwill.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-bien-fonde.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mister-auto.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mediapp.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-cartelis.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-goodwill.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-bien-fonde.png")%> class="logo-company" /></div>
      <div class="slide"><img src=<%= image_path("logo-mister-auto.png")%> class="logo-company" /></div>
    </div>
  </div>
</div>

  <%# Réalisations  %>
<%= render "project" %>
<%= render "experience" %>

<div id="review" class="section">
  <h2>Ce que disent mes clients</h2>
  <div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
    <ol class="carousel-indicators mt-5">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <div class="review-card d-flex">
          <div class="review-image-wrapper">
            <img src=<%= image_path("logo-bien-fonde.png")%> class="review-image" />
          </div>
          <div class="review-content-wrapper">
            <p class="review-author backblue">Alizée, CEO</p>
            <p class="review-content backblue">" Tristan a réalisé un travail de précision et plus poussé que ce qui était demandé.
            Il a su opérer un suivi au quotidien et donner ses inputs lorsque cela lui était demandé. Je le recommande vivement"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card d-flex">
          <div class="review-image-wrapper">
            <img src=<%= image_path("logo-mediapp.png")%> class="review-image" />
          </div>
          <div class="review-content-wrapper">
            <p class="review-author backblue">Guillaume, CEO</p>
            <p class="review-content backblue">" Tristan est très à l'écoute, réactif, efficace, disponible, force de proposition :
            c'était un vrai plaisir de collaborer avec lui, je le recommande vivement !"</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card d-flex">
          <div class="review-image-wrapper">

          </div>
          <div class="review-content-wrapper">
            <p class="review-author backblue">Frederic, CEO</p>
            <p class="review-content backblue">" Bonne communication, respect des demandes et des délais. Tristan ne s'arrête pas dès les premières difficultés.
            Je recommande"</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>


<%# Formulaire de contact%>
<div id="contact" class="section">
  <h2 class="py-3">Contactez moi</h2>
  <div class="form-container">
    <div class="form-contact">
      <%= simple_form_for (@contact) do |f| %>
        <div class="form-row">
          <div class="col">
            <%= f.input :firstname, as: :string, class:"form-control input-type" %>
          </div>
          <div class="col">
            <%= f.input :name, as: :string, class:"form-control  input-type" %>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <%= f.input :email, as: :string, class:"form-control  input-type" %>
          </div>
          <div class="col">
            <%= f.input :company, as: :string, class:"form-control  input-type" %>
          </div>
        </div>
        <%= f.input :message, as: :text, class:"input-type" %>
        <%= f.button :submit, class: "primary-button dark-button", value: "Valider ma demande"%>
      <% end %>
    </div>
  </div>
</div>

<%# Footer %>
<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Git-TM"><i class="fab fa-github"></i></a>
    <a href="https://www.malt.fr/profile/tristanmonteiro"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/tristan-monteiro/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>Tristan Monteiro, 2021 Paris</p>
  </div>
</div>

<div class="mb-4 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Dashboard</button>
        </li>
        <li class="mr-2" role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Settings</button>
        </li>
        <li role="presentation">
            <button class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Contacts</button>
        </li>
    </ul>
</div>
<div id="myTabContent">
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 bg-gray-50 rounded-lg dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
</div>
