<!-- 111 Navbar -->
<div id="navbar">
  <img src=<%= image_path("logo.png")%> alt="photo" class="banner-logo">
  <div class="flex justify-center invisible md:visible">
    <a href="#skills" class="nav-category ">Formation</a>
    <a href="#realisations" class="nav-category">Experience pro</a>
    <a href="#contact" class="nav-category">Projets</a>
    <%= link_to "Télécharger mon CV", savecv_path, class:"cta-red nav-category" %>
  </div>
</div>

<div class="flex items-center banner items">
  <div class="block m-auto md:flex section justify-around leading-9 md:leading-loose items-center text-center md:text-left">
    <img src=<%= image_path("undraw-banner.svg")%> alt="photo" class="w-36 mx-auto md:w-1/3 text-center mt-5 visible md:invisible md:w-0">
    <div class="w-full md:w-1/2">
      <p class="gradient-text mb-5">Salut, je suis </p>
      <h1 class="text-6xl font-bold mb-5">Tristan Monteiro</h1>
      <h3 class="mb-10">Ingénieur / développeur Ruby on Rails</h3>
      <a href="#apropos" class="cta-red">En découvrir plus !</a>
    </div>
    <img src=<%= image_path("undraw-banner.svg")%> alt="photo" class="w-36 mx-auto md:w-1/3 text-center mt-5 invisible md:visible">
  </div>
</div>

<h2 class="text-center" id="apropos">A propos de moi</h2>
<div class="block md:flex section justify-evenly items-center">
  <div class="h-4/6 flex relative justify-center">
    <img src=<%= image_path("tristan-pro.png")%> alt="photo" class="w-64 h-64 rounded border-double border-4 border-sky-500">
    <div class="w-64 h-64 rounded border-double border-4 border-whiteimage-apropos absolute top-4 right-4 invisible md:visible"></div>
  </div>
  <div class="text-center md:text-left w-full md:w-1/3 mt-5 md:mt-0">
    <p class="pb-3">Après des études d'ingénieur, j'ai accompagné pendant 2 ans des jeunes start-ups à développer leurs processus commerciaux et digitaux (SEO, Automation, Scraping, automatisation de process). </p>
    <p class="pb-3">Après ma formation au wagon, j'ai continué de me former sur rails, et Javascript à travers des formations, projets persos, et lectures de documentations / articles. </p>
    <p class="pb-3">Ayant finalisé mes dernières missions freelances fin Septembre, je cherche aujourd'hui à intégrer à une start-up en croissance (Paris) avec une équipe bienveillante,  sympa, et  respectueuse des bonnes pratiques du code.</p>
  </div>
</div>

<%= render "experience" %>

<%# Mes technologies %>
<div class="section" id="techno">
    <h2 class="pb-4 text-center"><span class="gradient-text">02. </span>Mes technologies</h2>
  <div class="relative h-52">
    <div class="technos-wrapper py-2">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-plain-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" class="logo-tech skill w-14 md:w-20 m-4"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-plain-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-plain-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-plain-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original-wordmark.svg" class="logo-tech skill w-14 md:w-20 m-4" />
    </div>
  </div>
</div>


<h2 class="text-center">Mes expériences pro</h2>
<% first_id =  @workexperiences.first.id %>
<div class="rounded w-full lg: w-4/5 xl:w-2/3 mx-auto mt-4 block md:flex section justify-evenly" data-controller="tabdisplay">
  <ul id="tabs" class="pt-2 px-1 w-fit md:w-1/5 inline">
  <%= %>
    <% @workexperiences.each do |exp| %>
        <% if exp.id == first_id  %>
          <li class="gradient-text px-4 font-semibold py-2 border-gradient rounded-t-mb-px border-gradient">
            <a id="default-tab" href="#<%= exp.clientname %>"><%= exp.clientname %></a>
          </li>
          <% else %>
          <li class="px-4 font-semibold py-2 white-tab">
            <a id="default-tab" href="#<%= exp.clientname %>"><%= exp.clientname %></a>
          </li>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div id="tab-contents" class="w-full md:2/3">
    <% @workexperiences.each do |exp| %>
      <% if exp.id == first_id %>
        <div class="p-4" id="<%= exp.clientname %>">
      <% else  %>
        <div class="p-4 hidden" id="<%= exp.clientname %>">
      <% end %>
          <p><%= exp.interval %></p>
          <p class="gradient-text bold pb-3 md:pb-0"><%= exp.role %></p>
          <p class="pb-5"><%= exp.description %></p>
          <hr/>
          <ul class="list-colored">
            <% exp.feature.each do |feature| %>
              <li><%= feature %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    </div>
  </div>
</div>



<h2 class="text-center">Mes réalisations</h2>
<div id="realisations" class="section">
  <div class="project-cards">
    <% @projects.each_with_index do |project, index| %>
      <div class="block lg:flex items-center justify-evenly mb-5 lg:mb-0">
        <%= image_tag project.imgurl, { :class=>"w-full md:w-1/2 lg:w-0 mx-auto lg:mx-0 text-center mt-5 px-3 md:px-0 visible lg:invisible lg:h-0 first" } %>
        <% if index.even? %>
          <%= image_tag project.imgurl, { :class=>"w-0 md:w-full mx-auto lg:mx-0 text-center md:w-1/2 lg:w-1/3 mt-5 px-3 md:px-0 invisible lg:visible h-0 lg:h-auto second" } %>
        <% end  %>
        <div class="project-card block lg:flex justify-evenly items-center pb-5 mt-4 md:mt-16 w-full lg:w-1/3">
          <div class="block desc-content">
            <div class="flex justify-between">
              <h3 class ="text-center md:text-left"><%= project.projectname %></h3>
              <div class="flex">
                <% if project.githublink.length != 0 %>
                  <a class="ml-7" href =<% project.githublink  %>>
                    <img src=<%= image_path("github-logo.png")%> alt="photo" class="w-8">
                  </a>
                <% end %>
                <% if project.weblink.length != 0 %>
                  <a class="ml-7" href =<% project.weblink  %>>
                    <img src=<%= image_path("logo-internet.png")%> alt="photo" class="w-8">
                  </a>
                <% end %>
              </div>
            </div>
            <div class="greyblue-bg my-7 p-3 rounded-xs">
              <p><%= project.context %></p>
            </div>
            <p><%= project.projecttype %></p>
            <ul class="list-colored pb-5">
              <% project.features.each do |feature| %>
                <li class="px-5"><%= feature .tr(',', ' ')%></li>
              <% end %>
            </ul>
            <hr/>
            <ul class="flex justify-evenly">
              <% project.codetags.each do |tag| %>
                <li class="px-5 text-xs font-bold"><%= tag .tr(',', ' ')%></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% if index.odd? %>
          <%= image_tag project.imgurl, { :class=>"w-full mx-auto lg:mx-0 text-center md:w-1/2 lg:w-1/3 mt-5 px-3 md:px-0 invisible lg:visible h-0 lg:h-auto" } %>
        <% end  %>
      </div>
    <% end %>
  </div>
</div>

<%# Div Client %>
<h2 class="text-center">Mes clients en parlent</h2>
<div class="block md:flex max-w-md mx-auto md:max-w-2xl mt-6 min-w-0 break-words w-full mb-12 shadow-lg mt-16 justify-between">
    <div class="px-6 mx-3 my-5 md:my-0 bg-white rounded-xl">
        <div class="text-center mt-2">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">Alizée</h3>
            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>CEO Agence Bien-fondé
            </div>
        </div>
        <div class="mt-6 py-6 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
                <div class="w-full px-4">
                    <p class="font-light leading-relaxed text-slate-600 mb-4">" Tristan a réalisé un travail de précision et plus poussé que ce qui était demandé. Il a su opérer un suivi au quotidien et donner ses inputs lorsque cela lui était demandé. Je le recommande vivement"</p>
                </div>
            </div>
        </div>
    </div>
    <div class="px-6 mx-3 bg-white rounded-xl">
        <div class="text-center mt-2">
            <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1">Guillaume</h3>
            <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i>CEO Mediapp
            </div>
        </div>
        <div class="mt-6 py-6 border-t border-slate-200 text-center">
            <div class="flex flex-wrap justify-center">
                <div class="w-full px-4">
                    <p class="font-light leading-relaxed text-slate-600 mb-4">" Tristan est très à l'écoute, réactif, efficace, disponible, force de proposition : c'était un vrai plaisir de collaborer avec lui, je le recommande vivement !"</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%# Footer %>
<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://github.com/Git-TM"><img src=<%= image_path("github-logo.png")%> alt="photo" class="w-6"></a>
    <a href="https://www.linkedin.com/in/tristan-monteiro/">
      <svg
        class="w-6 h-6 text-white-500 fill-current"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512">
        <path
          d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
        ></path>
      </svg>
    </a>
  </div>
  <div class="footer-copyright">
    <p>Tristan Monteiro, 2022 Paris</p>
  </div>
</div>
