<div class="container">
  <%= simple_form_for @project do |f| %>
    <%= f.input :projectname %>
    <%= f.input :context %>
    <%= f.button :submit %>
    <%= f.check_box :features, { :multiple => true }, 'foo', nil  %>
    <%= f.check_box :features, { :multiple => true }, 'foo', nil  %>
    <%= f.check_box :features, { :multiple => true }, 'foo', nil  %>
  <% end %>
</div>
