<div class="container">
  <%= simple_form_for @project do |f| %>
    <%= f.input :projectname %>
    <%= f.input :context %>
    <% 5.times do %>
      <%= f.input :features %>
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
<div>
</div>
