<%= image_tag(@project.imgurl, alt: "logo", class: "admin-project-image") %>

<h1><%= @project.projectname %></h1>
<%= @project.context %>
</br>
<%= @project.generaltags %>
</br>
<%= @project.codetags %>
</br>
<%= @project.category %>
</br>
<%= @project.projecttype %>
</br>
<%= @project.features %>
